<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kokoachino.mapper.BatchTaskMapper">

    <!-- 查询用户是否有未完成的任务 -->
    <select id="countUncompletedByUserId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tw_batch_task WHERE created_by_id = #{userId} AND completed_at IS NULL
    </select>

</mapper>
