<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.kokoachino.mapper.TeamInviteRecordMapper">

    <!-- 查询邀请码的邀请记录列表 -->
    <select id="selectByInviteCodeId" resultType="com.github.kokoachino.model.entity.TeamInviteRecord">
        SELECT * FROM tw_team_invite_record WHERE invite_code_id = #{inviteCodeId} ORDER BY created_at DESC
    </select>

</mapper>
